<% include partials/header %>
<h1>login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" required placeholder="username">
    <input type="password" name="password" required placeholder="password">
    <input type="submit" value="Login">
</form>
<% include partials/footer %>