<% include ../partials/header %>

<h1 style="text-align:center">suggest us a new campground</h1>
<div class="container">
    <div class="row">
        <div style="width:30% ;margin:30px auto">
            <form action="/campground" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" placeholder="enter the site name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" text="text" name="campground[img]" placeholder="enter the image link to the site photo" required>
                </div>
                <div class="form-group">
                    <textarea name="campground[description]" placeholder="describe the place you just added " rows="10" cols="45"></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-lg btn-block" type="submit">
                </div>
            </form>
            <a href="/campground" >do u wish to go back ?</a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>